.button-pagination-left {
  background: #fff !important;
  border: #fff !important;
  color: #000 !important;
}

.button-pagination-rigth {
  background: #fff !important;
  border: #fff !important;
  color: #000 !important;
}
